### Maven ###
.fa*
.sp*
.classpath
.project
.settings/*
target/*
/target/
*.class*
bin/*
target/
!.mvn/wrapper/maven-wrapper.jar


### Any log files ###
logs/
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store

### IntelliJ IDEA ###
.idea
.jpb
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/dlgservice.iml
/dlgservice.iml

*.dec
envs/*